[Unit]
Description=Mount Data Partition
Before=basic.target
After=datapartition.service
DefaultDependencies=no

[Mount]
What=/dev/mmcblk0p5
Where=/data

[Install]
WantedBy=basic.target
